@import "tailwindcss";

@font-face {
  font-family: "Bricolage";
  src: url(../assets/fonts/Bricolage_Grotesque/static/BricolageGrotesque-Bold.ttf)
}

@font-face {
  font-family: "DM-sans";
  src: url(../assets/fonts/DM_Sans/static/DMSans-Light.ttf);
}

@layer components {
  .the-shadow {
    box-shadow: 3px 3px 10px black;
  }
}